<div class="container">
<div class="row d-flex justify-content-center">
<div class="col-lg-6">
  <img [src]="imagen" [width]="ancho" [height]="altura">
  <br>
  <button class="btn btn-info btn-md m-2"  (click)="siguiente()">Siguiente</button>
    <button class="btn btn-info btn-md m-2" (click)="anterior()"  >Anterior</button>
    <button class="btn btn-info btn-md m-2" (click)="aumentar()"  >Aumentar</button>
    <button class="btn btn-info btn-md m-2" (click)="disminuir()"  >Disminuir</button>
    <button class="btn btn-info btn-md m-2" (click)="play()"  >Play</button>

</div>

</div>

</div>
